{% load static %}
{% load bootstrap %}
{% load i18n %}

<div class="col-lg-12">
    <h3 class="page-header">{% trans "Reply" %}</h3>
    <form role="form" method="post" action="{% url 'bbs:post-create' topic_id=topic_id %}">
        {% csrf_token %}
        {{ form.id }}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form.content }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
