{% extends "allianceauth/base.html" %}
{% load static %}
{% load bootstrap %}
{% load i18n %}

{% block page_title %}{% trans "Create Topic" %}{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header">{% trans "Create Topic" %}</h1>
        <form role="form" method="post" action="">
            {% csrf_token %}
            {{ form.id }}
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                {{ form.title|bootstrap }}
                {{ form.category|bootstrap }}
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form.content|bootstrap }}
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_javascript %}
    {{ form.media }}
{% endblock extra_javascript %}
